body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  
}
a:hover{
  text-decoration: underline;
}
:focus {
  outline: none;
}